/**********base****************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
/********base fine************/
/********colors***************/
:root {
  --beige: #e5ddd5;
  --beige-rgb: 229, 221, 213;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --blue: #039be5;
  --blue-rgb: 3, 155, 229;
  --blue-light: #00a5f4;
  --blue-light-rgb: 0, 165, 244;
  --blue-ocean: #aadaff;
  --blue-ocean-rgb: 170, 218, 255;
  --blue-sky: #9de1fe;
  --blue-sky-rgb: 157, 225, 254;
  --dark: #263238;
  --dark-rgb: 38, 50, 56;
  --gray-30: #f7f7f7;
  --gray-30-rgb: 247, 247, 247;
  --gray-60: #f0f0f0;
  --gray-60-rgb: 240, 240, 240;
  --gray-70: #ededed;
  --gray-70-rgb: 237, 237, 237;
  --gray-100: #e6e6e6;
  --gray-100-rgb: 230, 230, 230;
  --gray-150: #d9d9d9;
  --gray-150-rgb: 217, 217, 217;
  --gray-200: #ccc;
  --gray-200-rgb: 204, 204, 204;
  --gray-300: #b3b3b3;
  --gray-300-rgb: 179, 179, 179;
  --gray-400: #999;
  --gray-400-rgb: 153, 153, 153;
  --gray-500: grey;
  --gray-500-rgb: 128, 128, 128;
  --gray-600: #666;
  --gray-600-rgb: 102, 102, 102;
  --gray-700: #4a4a4a;
  --gray-700-rgb: 74, 74, 74;
  --gray-800: #303030;
  --gray-800-rgb: 48, 48, 48;
  --gray-850: #262626;
  --gray-850-rgb: 38, 38, 38;
  --gray-900: #1a1a1a;
  --gray-900-rgb: 26, 26, 26;
  --green: #07bc4c;
  --green-rgb: 7, 188, 76;
  --green-deep: #009688;
  --green-deep-rgb: 27, 154, 89;
  --orange: #ffad20;
  --orange-rgb: 255, 173, 32;
  --pale-blue-green: #ecfaf5;
  --pale-blue-green-rgb: 236, 250, 245;
  --gray-text-dark: #919191;
}
/********colors fine*********/
/********container**********/
.container-flex {
  width: 100vw;
  min-width: 1396px;
  height: 100vh;
  background-image: linear-gradient(180deg, #dddbd1, #d2dbdc);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  overflow-y: hidden;
}
.green-bar {
  background-color: var(--green-deep);
  height: 125px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
/********container fine***********/
/********chat-box************/
.container-chat {
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 1396px;
  flex: 1 1;
  box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb), 0.06),
    0 2px 5px 0 rgba(var(--shadow-rgb), 0.2);
  margin: 50px auto;
}
/********chat-box header************/
.container-chat__header {
  display: flex;
  width: 100%;
  background-color: var(--gray-70);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
}
.heder-right {
  border-left: 1.5px solid rgb(221, 221, 221);
}
.container-chat__header-btn-icons {
  font-size: 2rem;
}
.container-chat__header-btn-icons:not(:last-child) {
  margin-right: 1.8rem;
}
.container-chat__header-right-info{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.contact-img{
  margin-right: 1.5rem;
}

/********chat-box header fine************/
/********common img************/
.img {
  height: 3.5rem;
  width: 3.5rem;
  clip-path: circle();
}
img {
  cursor: pointer;
}
/********common img fine************/
/********container chat************/
.container-chat__main {
  display: flex;
  width: 100%;
  background-color: var(--gray-30);
  height: 100%;
}
.container-chat__main-left {
  display: flex;
  flex: 0 279.188px;
  height: calc(100vh - 100px);
  flex-direction: column;
}
.container-chat__main-left-notification {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 6rem;
  width: 100%;
  background-color: var(--blue-sky);
  font-size: 1.2rem;
}
.container-chat__main-left-notification-mute {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--blue-sky);
  width: 34px;
  height: 4.9rem;
  clip-path: circle();
  margin-right: 1.3rem;
  margin-left: 2.2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.container-chat__main-left-notification-mute:hover {
  transform: scale(1.1);
}
.container-chat__main-left-notification-mute:active {
  transform: scale(1);
}
.fa-bell-slash {
  color: var(--blue-sky);
}
.container-chat__main-left-contacts {
  flex: 1 1 100%;
  background-color: #fff;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.container-chat__main-left-contacts__item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  border-bottom: 1px solid #f2f2f2;
  transition: all 0.2s;
}
.container-chat__main-left-notification-link {
  color: #919191;
}

.container-chat__main-left-contacts__item:hover {
  background-color: #ebebeb;
}
.contanct-item-img {
  padding-right: 1.5rem;
}
.contanct-item-name {
  font-weight: 700;
}
.contanct-item-preview {
  color: #919191;
}
.contanct-item-left {
  display: flex;
}
.container-chat__main-left-search {
  position: relative;
}
.search-label {
  position: absolute;
  left: 10%;
}
.container-chat__main-right {
  flex-direction: column;
  display: flex;
  flex: 30%;
  width: 100%;
}
.container-chat__main-right-chat-input{
  flex: 0 0 6.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--gray-60);
  padding: 0.5rem 1.5rem;
  position: relative;
}
.container-chat__main-right-chat-input-focus{
  background-color: #fff;
  border-bottom:1px solid var(--gray-60) ;
}
.emojy-menu-list{
  display:none;
  cursor: pointer;
  position: absolute;
  left: 12px;
  top: -52px;
  z-index: 200;
  font-size: 2.5rem;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 3rem;
}

.emojy-menu-list::before{
  content: '';
  width: 30px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  bottom: -21px;
  left: 3rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  transform: rotate(90deg) scaleX(-1);
  
}
.emojy-active{
  display: flex;
}
.emojy{
  transition: all .2s;
}
.emojy:hover{
  transform: scale(1.2);
  
}
.emojy:active{
  transform: scale(1);
}
.chat-input {
  flex: 0 0 90%;
  outline: none;
  border: none;
  height: 4.2rem;
}
.emojy-menu {
  font-size: 3rem;
}
.emojy-menu-clicked{
  color: var(--green-deep);
}
#send:hover{
  transform: scale(1.1);
  color: var(--blue-light);
}
#send:active{
  transform: scale(1);
  color: var(--blue-light);
}
.container-chat__main-left-search {
  height: 4.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}
.search {
  outline: none;
  border: none;
  height: 3rem;
  width: 100%;
}
.search-focus{
  border-radius: 0;
}
.search-focus-icon{
  color:var(--blue);
  font-size:2rem;
  font-size: 1.6rem;
}
input {
  border-radius: 18px;
}
.search {
  padding-left: 4rem;
}
/********container chat fine************/
/*****chat content***************/
.chat-input {
  padding-left: 1.2rem;
}
.container-chat__main-right-chat {
  overflow-y: scroll;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-size: contain;
  width: 100%;
  flex: 0 1 calc(100vh - 220px);
  display: none;
  flex-direction: column;
  padding: 2rem 8.7rem;
  font-size: 1.4rem;
  min-height: 60px;
}
.message-box {
  padding: 6px 7px 8px 9px;
  border-radius: 0.7rem;
  background-color: #fff;
  position: relative;
  font-size: 1.4rem;
  cursor: pointer;
  margin-bottom:1.2rem;
  min-width: 108.672px;
}
.template{
  display: none;
}
.user-message {
  align-self: flex-end;
}
/*User message arrow*/
.user-message::after {
  content: "";
  width: 2rem;
  height: 1.4rem;
  background-color: #fff;
  position: absolute;
  right: -1.5rem;
  top: -0.53rem;
  clip-path: polygon(0 38%, 0% 100%, 100% 39%);
}
/*bot message arrow*/
.contact-message::before {
  content: "";
  width: 2rem;
  height: 1.4rem;
  background-color: #dcf8c6;
  position: absolute;
  left: -1.5rem;
  top: -0.53rem;
  transform: scaleX(-1);
  clip-path: polygon(100% 39%, 0% 100%, 0 38%);
}
.contact-message {
  align-self: flex-start;
  background-color: #dcf8c6;
}
/*active class*/
.active{
  display: flex;
  background-color: rgb(235, 235, 235);
}
/*****chat content fine***************/
/********chat-box fine************/
i {
  cursor: pointer;
  color: #919191;
}
.time {
  font-size: 1.1rem;
  color: var(--gray-text-dark);
}
.time-message {
  margin-top: 0.4rem;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
/*scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


